/* *{
   padding: 0;
   margin: 0;
   font-family: 'Poppins', sans-serif;
   box-sizing: border-box;
}

body{
   display: flex;
   min-height: 100vh;
   justify-content: center;
   align-items: center;
   background: #222;
   overflow: hidden;
}

.container{
   display: flex;
   justify-content: center;
   align-items: center;
}

.container .box{
   transform-style: preserve-3d;
   animation: animate 25s linear infinite;
}

@keyframes animate {
   0%{
      transform: perspective(1000px) rotateX(0deg) rotate(25deg);
   }
   100%{
      transform: perspective(1000px) rotateX(360deg) rotate(25deg);
   }
}

.container .box span{
   position: absolute;
   color: #fff;
   font-size: 3.5em;
   white-space: nowrap;
   text-transform: uppercase;
   font-weight: 900;
   padding: 0 10px;
   background: linear-gradient(90deg, transparent, rgba(0, 0, 0, 0.5), transparent);
   line-height: 0.76em;
   transform-style: preserve-3d;
   text-shadow: 0 5px 15px rgba(0, 0, 0, 0.25);
   transform: translate(-50%, -50%) rotateX(calc(var(--i) * 22.5deg)) translateZ(105px);
}

.container .box span i:nth-child(1){
   font-style: initial;
   color: #ff246f;
}

.container .box span i:nth-child(2){
   font-style: initial;
   color: #12b5ff;
}
 */



.container.anime{
   font-family: 'Poppins', sans-serif;
   box-sizing: border-box;
   display: flex;
   justify-content: center;
   align-items: center;
   min-height: 70vh;
   background: #222;

}

.container.anime .box{
   transform-style: preserve-3d;
   animation: animate 25s linear infinite;
}

@keyframes animate {
   0%{
      transform: perspective(1000px) rotateX(0deg) rotate(25deg);
   }
   100%{
      transform: perspective(1000px) rotateX(360deg) rotate(25deg);
   }
}

.container.anime .box span{
   position: absolute;
   color: #fff;
   font-size: 3.5em;
   white-space: nowrap;
   text-transform: uppercase;
   font-weight: 900;
   padding: 0 10px;
   background: linear-gradient(90deg, transparent, rgba(0, 0, 0, 0.5), transparent);
   line-height: 0.76em;
   transform-style: preserve-3d;
   text-shadow: 0 5px 15px rgba(0, 0, 0, 0.25);
   transform: translate(-50%, -50%) rotateX(calc(var(--i) * 22.5deg)) translateZ(105px);
}

.container.anime .box span i:nth-child(1){
   font-style: initial;
   color: #ff246f;
}

.container.anime .box span i:nth-child(2){
   font-style: initial;
   color: #12b5ff;
}

@media screen and (max-width: 767px) {
   .container.anime {
      transform: scale(.5);
   }

   .animate{
      background-color: #222;
      height: 70vh;
      width: 100%;
   }

}


@media screen and (max-width: 550px) {
   .container.anime {
      transform: scale(.3);
   }

   .animate{
      background-color: #222;
      height: 70vh;
      width: 100%;
   }

}
